  <h1>🕊Login🕊</h1>
  <section class="form_block">
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
        <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="action">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </section>
</article>  