<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<P><%= notice %><p>
 <ul>

    <% @tasks.each do |task| %>
      <li>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.status %></td>
        <td><%= task.expired %></td>
        <td><%= task.date %></td>
        <td><%= task.priority %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </li>
    <% end %>
  </ul>
<br>

<p><%= link_to 'New Task', new_task_path %></p>

