<!DOCTYPE html>
<html>
  <body>
    <head>
      <title>ManyoAssignment</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <header>  
      <div class="flex">
        <h1 class="tasklogo item"><%= link_to 'ï¼¿/ï¼¿/ï¼¿/ï¼¿/â– â– Task Applicationâ– â– ï¼¿/ï¼¿/ï¼¿/ï¼¿/', tasks_path %></h1>
        <div class="btns item">
          <% if logged_in? %>
          <% if admin? %>
              <%= link_to "Admin_Management_Screen", admin_users_path %>
            <% end %>
            <%= link_to "Profile", user_path(current_user.id) %>
            <%= link_to "Log_out", session_path(current_user.id), method: :delete %>
          <% else %>
            <%= link_to "Sign_up", new_user_path %>
            <%= link_to "Log_in", new_session_path %>
          <% end %>
        </div>
      </div>
    </header>

    <div class="container">
      <%= link_to "ðŸ”Sign upðŸ”", new_user_path %>
      <%= link_to "ðŸ–‹LoginðŸ–‹", new_session_path %>
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <p class="date"><%= date = Time.new %></p>
        <p class="copyright">LisaðŸ–¤All Rights Reserved.</p>
      </div>  
    </footer>
  </body>
</html>